a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style: none;
}


.nav-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    background: #FFFFFF;
    padding: 10px;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D6D6D6;
    color: #705772;
    font-family: 'Dosis', sans-serif;

}


.pageHeader {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #565656;

}

/*navigation bar */
.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}


.btn {
    background-color: #705772;
    color: #FFFFFF;
    display:inline-block;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 200px;
    min-width: 50px;
    padding: 5px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;

}

/* landing page */
.form-input {
    width: 250px;
    height: 30px;
    border-color: #f38181;
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    display: block;
    min-width: 100px;
}

.form-input-label {
    color: #705772;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    min-width: 100px;

}

.login-card {
    height: 250px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 7px silver;
}

.register-card {
    box-shadow: 2px 2px 7px silver;
    display: block;
    width: 65%;
    max-width: 600px;
    padding: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.card-header {
    float: left;
    color: #705772;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
}
.form-row {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inner-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-small {
    background-color: #705772;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    width: 115px;
    padding: 5px;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 14px;
}

/* Home Nav */
.grid {
    width: 55%;
    height: 60%;
    background-color: transparent;
    border-radius:  5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    z-index: 15;
    top: 15%;
    left: 20%;
}

.grid-column-left {
    float: left;
    width: 50%;
    height: 100%;
    color: #727272;
}

.grid-column-right {
    float: right;
    width: 50%;
    height: 100%;
    color: #727272;
}


.grid-container-small {
    width: 200px;
    height: 70px;
    margin: 60px 0px;
    background-color: #FFFFFF;
    border-radius:  5px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 1px 8px grey;
}

.grid-container {
    width: 250px;
    height: 250px;
    margin: 30px;
    background-color: #FFFFFF;
    border-radius:  5px;
    display: block;
    box-shadow: 2px 1px 8px grey;
}

.grid-left {
    width: 40%;
    display: flex;
    justify-content: center;
}
.grid-right {
    border-left-color: #D6D6D6;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 60%;
    color: #727272;
}

.grid-header-small {
    color: #727272;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.grid-container-row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.grid-upper {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-header {
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.grid-lower {
    background-color: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-color: #D6D6D6;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    justify-content: center;
    height: 25%;
    width: 100%;
    color: #727272;
}

.icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.tbl {
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tbl-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-style: solid;
    border-width: .5px;
    border-color: #D6D6D6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 86%;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    overflow: auto;
}

.newPaymentCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 30px;
    border-style: solid;
    border-width: .5px;
    border-color: #D6D6D6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 100%;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    overflow: auto;

}

.select {
    display: block;
    outline: none;
    color: #444;
    background-color: #FFFFFF;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #f38181;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

thead th:nth-child(1) {
    width: 30%;
  }

  thead th:nth-child(2) {
    width: 44%;
  }

  thead th:nth-child(3) {
    width: 12%;
  }

  thead th:nth-child(4) {
    width: 12%;
    text-align: center;
  }

  tbody td:nth-child(5) {
    text-align: center;
  }

  th, td {
    padding: 12px;
    border-bottom: 1px solid #c6c6c6;
  }

  th {
    text-align: left;
  }

.table-header {
    text-transform: uppercase;
    color: #705772;
    letter-spacing: 1px;
  }

  td {
    text-align: left;
  }

  .checkout-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: .5px;
    border-color: #D6D6D6;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 50%;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    overflow: auto;
  }

  .flex-col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .delivery-instruc {
      height: 75px;
      width: 100%;
      margin-bottom: 20px;
      border-style: solid;
      border-radius: 5px;
      border-width: .5px;
      border-color: #767676;
      outline: none;
  }

  .total-price {
    border-radius: 5px;
    border-color: #f38181;
    border-width: .5px;
    border-style: solid;
    padding: 5px;
    width: 75px;
    outline: none;
    background-color: #F6F6F6
  }

  .block-centered {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
