.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    background: blue;
    padding: 10px;
    margin: 0px;
    color: white;
}

a {
    text-decoration: none;
}

.pageHeader {
    text-align: left;
    margin: 10px;
    font-weight: bold;

}

.inputItem {
    display: flex;
    width: 200px;
    margin: 10px;
    border-color: #4d87fa;
    border-width: .5px;
    border-radius: 3px;
    padding: 5px;
}

.input-item-label {

}

.submit-btn {
    display: flex;
    width: 100px;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    border-style: none;
    background-color: #4d87fa;
    color: #FFFFFF;
    text-align: center;

}

.home-page-btn {
    width: 55;
    height: 100;
    text-align: center;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

